body{ text-align: center;
    font-size: 30px; } 

html { background-image: url('../Images/bay-bushes-hills-661.jpg'); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
    background-attachment: fixed; 
    
    
} 

h1{ font-size: 2em; 
} 