/*
Audrey Schiavone

Seafoam #99eebb 
Tan #998866 
Peach #ffbb55
*/ 
@import url(http://fonts.googleapis.com/css?family=Cabin+Sketch);
@import url(http://fonts.googleapis.com/css?family=Crushed);
@import url(http://fonts.googleapis.com/css?family=Crushed|Fredericka+the+Great);
@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
header{
    background-color: #F0F0F0; 
    width: 800px; 
    margin-left: auto;
    margin-right: auto;
     border-style: solid;
    border-width: 1px;
    border-color: #998866;
    background-image: url('../Images/Fireworks.JPG');
   
 
  
}
a{ color: #998866}

body{font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

p{ text-align: center;} 

h1{ color: white;
    font-size: 65px;
    text-align: center;
    font-family:'Amatic SC', cursive;
    
    } 


h2{ 
    color: #ffbb55;
    font-family:'Crushed', cursive; }

.secondtitle{ 
    text-align:right;} 

    
.colorsquare{
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
    color: white; }


.color1{
    background-color: #998866;}

.color2{
    background-color: #ff3333;}

.color3{
    background-color: #ffbb55;}


.projects{ text-align: center; }

.main{width: 40%; 
    float: left; 
    border-style: solid; 
    border-color: #998866; 
    height: 425px;
    margin: auto; 
    text-align: center;
    wdith: 40%;
    margin-left: 295px;  
    
} 

.sidebar{width: 20%;
    float: left;
    border-style: solid; 
    border-color: #998866;
    height: 425px; 
    margin: auto; 
    margin-left: 10px; 
    padding: 2%;
    text-align: center; 
    width: 20%; 
} 
    
.site-footer{ font-size: 25px; 
    text-align: center; 
    border-style: solid; 
    border-color: #998866;
    width: 60%;
        margin: auto; 
    
}
    
site-footer a{ 
    color: #998866;
} 

site-footer a:hover{
    color: #ffbb55;
    text-decoration: underline; 
} 

ul {
 list-style: none;
}

navigation li{ display: inline-block;
    padding: 10px;
} 


