/*
Audrey Schiavone

Seafoam #99eebb 
Tan #998866 
Peach #ffbb55
*/ 

header{
    background-color: #ffbb55; 
    width: 800px; 
    margin-left: auto;
    margin-right: auto;
}
a{ color: #998866}

p{ text-align: center;} 

h1{ color: #998866;
    font-size: 40px;
    text-align: center} 


h2{ 
    color: #99eebb;
    font-family: DFKai-SB;}

.secondtitle{ 
    text-align: center;} 

    
.colorsquare{
    width: 150px;
    height: 150px;
    display: inline-block;
    text-align: center;
    color: white; }


.color1{
    background-color: #998866;}

.color2{
    background-color: #99eebb;}

.color3{
    background-color: #ffbb55;}


.projects{ text-align: center
    
    
