h1 {font-family: helvetica;
    font-size: 30px;
    text-align: center;
    color: #088A68; 
} 

.table-striped{ margin: auto;
    width: 880px; 
    border: solid 2px #088A68; 
} 

body{background-image: 
}